/* create a CSS grid layout for my content container */
.container {
    display: grid;
    height: 100vh;
    max-width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.1fr 0.8fr 0.2fr;
    grid-template-areas: 
    "header header header header header header"
    "sidebar main main main main main"
    "sidebar fiveday fiveday fiveday fiveday fiveday"
    "sidebar day-1 day-2 day-3 day-4 day-5"
    "footer footer footer footer footer footer";
    grid-gap: 0.2rem;
}

.header {
    color: white;
    text-align: center;
    grid-area: header;
    background-image: linear-gradient(to bottom right, rgb(22, 22, 79), rgb(74, 74, 247));
}

.sidebar {
    grid-area: sidebar;
}

.today-card-container {
    grid-area: main;
    margin: 5px;
    padding: 5px;
}

.five-day-header {
    grid-area: fiveday;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 74), lightyellow);
}

#day-1 {
    grid-area: day-1;
}

#day-2 {
    grid-area: day-2;
}

#day-3 {
    grid-area: day-3;
}

#day-4 {
    grid-area: day-4;
}

#day-5 {
    grid-area: day-5;
}

#footer {
    grid-area: footer;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 74), lightyellow);
}

#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#credit {
    font-size: 10px;
}

.search-card{
    width: 95%;
}

.form-label {
    font-weight: bold;
    font-size: 24px;
}

.city-entry {
    width: 95%;
}

.submit {
    margin-top: 5px;
    width: 95%;
    background-image: linear-gradient(to bottom right, rgb(22, 22, 79), rgb(74, 74, 247));
}

.submit-line-placeholder {
    padding: 7px;
    border-bottom: black 2px solid;
    width: 95%;
}

.search-history {
    display: block;
    background-color: rgb(175, 172, 172);
    color: black;
    border: none;
    margin-top: 10px;
    width: 95%;
}

.search-history:hover {
    background-image: linear-gradient(to bottom right, rgb(22, 22, 79), rgb(74, 74, 247));
    color: white;
}

.search-history:focus {
    display: block;
    background-color: rgb(175, 172, 172);
    color: black;
    border: none;
    margin-top: 10px;
    width: 95%;
    padding: none;
}

#clear-history {
    margin-top: 7px;
    display: block;
    background-color: rgb(175, 172, 172);
    color: black;
    border: none;
    margin-top: 10px;
    width: 95%;
}

#clear-history:hover {
    background-image: linear-gradient(to bottom right, rgb(22, 22, 79), rgb(74, 74, 247));
    color: white;
}

.today-card-container-clear {
    grid-area: main;
    border: none;
}

.fiveday-card-clear {
    background-color: white;
    color: black;
    border: none;
}

.fiveday-card {
    color: white;
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, rgb(22, 22, 79), rgb(74, 74, 247))
}

/* different classes the uv-index that change the background color */
.uv-good {
    background-color: green;
    color: white;
    padding: 2px;
}

.uv-okay {
    background-color: yellow;
    padding: 2px;
}

.uv-bad {
    background-color: red;
    color: white;
    padding: 2px;
}

/* change the CSS grid layout when the screen width hits 550px */
@media only screen and (max-width: 550px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "fiveday"
        "day-1"
        "day-2"
        "day-3"
        "day-4"
        "day-5"
        "footer";
    }

    .city-entry, .submit, #clear-history, .search-history, .submit-line-placeholder {
        width: 100%;
        align-items: center;
    }

}